<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>index Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/static/css/index.css">

</head>

<body>
	<div class="container">
		<h1 class="title">Welcome to Green Club of VCET</h1>
		<h2 class="title2">Membership Registration!!!!!!!!!</h2>
		<div>
			<img src="/static/assets/green club logo.png" width="200px" height="200px">
		</div>
		<div class="buttons">
			<a href="/register.html" class="btn btn-primary mr-2">Signup</a>
			<a href="/login.html" class="btn btn-primary mr-2">Login</a>
			
 
		</div>
	</div>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- Custom JS for animations -->
	<script>
		$(document).ready(function () {
			// Add animation to the title and buttons
			$(".title").addClass("animated");
			$(".buttons").addClass("animated");
		});
	</script>
	<!-- Animate CSS library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</body>

</html>